/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #A855F7, #3B82F6,#A855F7);
}

.navbar {
    background-color: #0f1d45;
    padding: 16px;
    color: #fff;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fillkart {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.navbar .nav-links a.active {
 color:black;

}
.nav-links a :hover{
    color: black;

}

.navbar .nav-links a.active {
    
    font-weight: bold;

}

.product-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

/* Product Card */
.product-card {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.product-img {
    width: 150px;
    border-radius: 5px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    margin-left: 20px;
}

.product-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.product-price {
    font-size: 1em;
    color: #777;
    margin-top: 5px;
}

.remove-from-cart {
    color: #ff4785;
    text-decoration: none;
    margin-top: 10px;
    font-size: 0.9em;
    cursor: pointer;
}

.remove-from-cart:hover {
    text-decoration: underline;
}

/* Price Summary Section */
.price-details {
    text-align: right;
    font-size: 1.2em;
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}

.price-details .place-order-btn {
    background-color: #ff4785;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.price-details .place-order-btn:hover {
    background-color: #ff3366;
}
