body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #A855F7, #3B82F6,#A855F7);
}

.navbar {
  background-color: #0f1d45;
  padding: 16px;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fillkart {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background 0.3s;
  border-radius: 5px;
}

.nav-links a:hover {
  background-color: #ffffff;
  border-radius: 5px;
  color:#0d0434
}
.nav-links a.active {
  background-color: #fff;
  color: #0b0e1d;
}

.containers {
  display: flex;
  padding: 20px;
  
}

.sidebar {
  display: flex;
  width: 300px;
  height: 80px;
  background-color: white;
  padding: 20px;
  margin-right: 20px;
}

.sidebar .profile {
  display: flex;
  align-items: center;
 
  
}

.sidebar .profile img {
  border-radius: 50%;
}

.sidebar .profile .name {
  margin-left: 1.2rem;

  
}

.sidebar .profile .name .user-name {
  margin-top:0.1rem;
}

.main-content {
  flex-grow: 1;
  background-color: white;
  padding: 20px;

}
.main-content h2 {
  margin-top: 0;
}
.main-content .section {
  margin-bottom: 35px;
}
.main-content .section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.main-content .section input[type="text"], .main-content .section input[type="tel"]{
  margin-bottom: 10px;
  height: 30px;
  width: 250px;
}

.main-content .section .add-address {
  color: #0A1F44;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
}
