body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #A855F7, #3B82F6,#A855F7);
}

.navbar {
  background-color: #0f1d45;
  padding: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fillkart {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
}


